* {
  font-family: Palatino Linotype, Book Antiqua, Palatino, FreeSerif, serif;
  color: #383d3d;
}

body {
  background: aliceblue;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

button.fancy-button {
  font-size: 2rem;
  background: burlywood;
  color: #824c0e;
}
